html, body, canvas {
  padding: 0px;
  margin: 0px;
}
html, body{
  height: 100%;
}
body {
  background-color: #444;
  font-family: 'PT Sans', 'Univers', 'Arial', sans-serif;"
}
td, tr {
  padding:0;
  margin:0;
}
li {
}
ul {
  list-style: none;
  padding: 0;
}
.mainDiv{
  position:absolute;
  width:100%;
  height:100%;
  background: -moz-linear-gradient(top, #555 0px, #333 740px, bisque 756px, bisque 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #555 0px,#333 740px,bisque 756px,bisque 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #555 0px,#333 740px,bisque 756px,bisque 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.instrux {
  position:fixed;
  top:0;
  width:100%;
  height:100%;
  margin: 0 auto;
  background-color:rgba(50,50,50,.5);
  opacity:0;
  z-index:40;
  visibility: hidden;
  transition: .5s;
}
.instrux.instruxLoad {
  transition: .5s;
  visibility: visible;
  opacity: 1;
}
.innerInstrux{
  border-radius:6px;
  position:fixed;
  width:600px;
  top:30px;
  left:50%;
  margin-left:-300px;
  background-color:bisque;
  padding-left:30px;
  padding-right:30px;
  padding-bottom:30px;
  padding-top:20px;
  color:#666;
}
.innerInstrux h3{
  margin-bottom:.3em;
}
.innerInstrux a{
  text-decoration:none;
  color:#999;
}

.canvasDiv{
  width:1000px;
  margin: 0 auto;
  margin-top: 30px;
}

.canvasOne{
  position:absolute;
  background-color:black;
  z-index:10;
  cursor: url(./circle_70.png), auto;
}

.bar{
  position:absolute;
  background-color: rgba(255,255,255,.5);
  position: absolute;
  width:2px;
  height:600px;
  z-index:30;
  margin-left:0px;
  cursor: url(./circle_70.png), auto;
  display:none;
}

.bottomDiv{
  background: -moz-linear-gradient(#bbab8e,bisque);
  background: -webkit-linear-gradient(#bbab8e,bisque);
  background: linear-gradient(#bbab8e,bisque);
  width:100%;
  text-align:center;
  margin-top:610px;
  position:absolute;
}
.bottomCenter{
  width:1000px;
  margin:0 auto;
  margin-top:30px;
  text-align:center;
  position:relative;
  z-index:6
}
.topButtons{
  width:750px;
  margin: 0 auto;
  margin-top: 30px;
  display:flex;
  justify-content: space-between;
  padding-left:20px;
  padding-right:20px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(85,85,85,.7);
}
.middleButtons{
  margin-top:-18px;
  display:flex;
  justify-content: space-between;
  padding-left:20px;
  padding-right:20px;
  padding-bottom: 4px;
  width:750px;
  margin: 0 auto;
  margin-top: 10px;
  /*border-bottom: 1px solid rgba(85,85,85,.7);*/
}
.bottomButtons{
  margin-top:0px;
  margin-left:100px;
  width:750px;
  /*display:flex;
  justify-content:flex-start;*/
  padding-left:20px;
  padding-right:20px;
}
.nameDiv{
  max-width:200px;
  max-height:18px;
  overflow:hidden;
  padding-left:6px;
  padding-right:6px;
  padding-top:4px;
  padding-bottom:4px;
  opacity:.8;
}
.filesTable{
  margin-top:10px;
  border-collapse: collapse;
}
.td-top{
  border-bottom: 1px solid rgba(85,85,85,.7);
}
.td-right{
  border-left: 1px solid rgba(85,85,85,.7);
}
.errorsDiv{
  color: #850606;
  font-size:14px;
  width:400px;
  text-align: left;
  padding-left:8px;
}

.grayButton{
  color: #555;
}
.staticButton{
  color: #666;
  height:40px;
  font-size:26px;
  opacity:.7;
  padding-top:3px;
}
.button{
  height:40px;
  /*font-size:40px;*/
  font-size:32px;
  cursor: pointer;
  opacity:.7;
}
.button:hover{
  opacity:1;
}
.button:active{
  opacity:1;
  color:orange;
}
.textButton{
  color:#555;
  margin-top:4px;
  height:40px;
  /*font-size:30px;*/
  font-size:24px;
  cursor: pointer;
  opacity:.7;
}
.textButton:hover{
  opacity:1;
}
.textButton:active{
  opacity:1;
  color:orange;
}
.wordButton{
  border: 1px solid #555;
  border-radius: 20px;
  text-align: center;
  color:#555;
  margin-top:5.5px;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  height:22px;
  /*letter-spacing: .06em;*/
  /*font-size:30px;*/
  font-size:15px;
  /*cursor: pointer;*/
  opacity:.8;
}
.wordButton:hover{
  opacity:1;
}
#clearPaintButton{
  cursor:pointer;
}
#clearPaintButton:active{
  opacity:1;
  color:orange;
}
#clearImgButton{
  cursor:pointer;
}
#clearImgButton:active{
  opacity:1;
  color:orange;
}
#toggleTipsButton{
  cursor:pointer;
}
#toggleTipsButton:active{
  opacity:1;
  color:orange;
}
.currentColorButton{
  height:40px;
  /*font-size:40px;*/
  font-size:31px;
}
.colorButton{
  margin-top:4px;
  width:13px;
  height:27px;
  cursor:pointer;
  opacity:.5;
}
.colorButton:hover{
  opacity:1;
}
.colorButton:active{
  opacity:1;
}
.pipeDiv{
  margin-top: -2px;
  margin-left:2px;
  margin-right:2px;
  /*color:#555;*/
  background-color:#555;
  opacity:.7;
  height:40px;
  /*font-size:36px;*/
  width:1px;
}
.fileList{
  margin-right:20px;
  text-align: left;
  color:#555;
  opacity:.7;
  font-size:18px;
}

.volList{
  margin-right:20px;
  text-align: left;
  font-size:18px;
}
.volList div {
  padding-top:4px;
  padding-bottom:4px;
  padding-left: 4px;
  padding-right: 4px;
}
.clearList{
  margin-right:20px;
  text-align: left;
  color:#555;
  opacity:.7;
  font-size:18px;
  cursor: pointer;
}
.clearList div {
  padding-top:4px;
  padding-bottom:4px;
}

.title div{
  position: relative;
  left: 340px;
  top: 5px;
  font-size: 60px;
  color: #555;
  letter-spacing: .5em;
}

.playDiv{
  z-index:41;
  position:relative;
}
.pauseDiv{
  z-index:42;
  position:relative;
}

.ui-tooltip{
  padding: 10px 20px;
  color: white;
  box-shadow: 0 0 2px #666;
  background-image: none;
  background: bisque !important;
  border-radius:8px;
}
.ui-tooltip-content{
  color: #666;
  font-family: 'PT Sans', 'Univers', 'Arial', sans-serif;"
}

.HRdiv{
  position:absolute;
  width:585px;
  left:105px;
}
.middleHR{
  background:rgba(85,85,85,.7);
  border: 0;
  height: 1px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
}

.titleDiv{
  height: 100px;
  width: 190px;
  position: absolute;
  right: 107px;
  top: 73px;
  background-image: url('./HumLogo3.png');
  background-repeat: no-repeat;
  background-size: 190px auto;
  opacity:.8;
  transition: opacity 200ms;
}
.titleDiv:hover{
  opacity:1;
  transition: opacity 200ms;
}
.borderDiv{
  height: 204px;
  width: 814px;
  position: absolute;
  right: 91px;
  top: -14px;
  opacity: .8;
  border-radius: 8px;
  border: 1px solid rgba(85,85,85,.7);
  pointer-events: none;
  box-shadow: 0px 2px 3px #999;
}
